<ion-header>
  <ion-navbar>
    <ion-title>
      المدائح
    </ion-title>
    <ion-buttons end>
      <button *ngIf="!searchActive" class="clearBG" large (click)="activateSearch()">
        <ion-icon name="ios-search-outline"></ion-icon>
      </button>
      <ion-searchbar *ngIf="searchActive"
                     class="customGreen"
                     [(ngModel)]="search_text"
                     placeholder="ابحث"
                     [showCancelButton]="true"
                     (ionInput)="onSearchInput($event)"
                     (ionCancel)="onSearchCancel($event)">
      </ion-searchbar>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of filteredData" (click)="openDetailsPage(item)" dir="rtl">
    <!--<span class="lineIndex">{{item.index}}</span>-->
    <ion-card-header padding>
      <img class="book-icon" src="assets/imgs/book.png" alt="">
      <button class="label">
        {{ item.name }}

      </button>
    </ion-card-header>
  </ion-card>
</ion-content>
